*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 230, 250);
}
.profile-card{
    max-width: 370px;
    width: 100%;
    background: white;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(213, 37, 37, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.profile-card .hjh{
   
   background-color: #4070f4;
}
.image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 60%;
  background-color: skyblue;
  padding: 3px;
  margin-bottom: 10px;
  
}
.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 60%;
   border: 3px solid white;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(67, 62, 62);
}
.text-data .passion{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile-card .midea-button{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.midea-button .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: rgb(60, 60, 226);
    text-decoration: none;  
}
.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;

}
.buttons .button{
    font-size: 18px;
    font-weight: 400;
    border: none;
    color: white;
    padding: 8px 25px;
   margin: 0 10px;
   border-radius: 24px;
    background-color:#4070f4 ;
     cursor: pointer;
     transition: all 0.3s ease;
}
.buttons .button:hover{
    background-color: #0e1df1;
}
.profile-card  .analyics{
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.analyics .data{
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
}
.data i{
    font-size: 18px;
    margin-right: 6px;
}
.data:last-child{
    border-right:none;
}
    
  